@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400&display=swap');

html {
	background-color: #0d1b2b;
	color: #c4c4c4;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 18px;

	background: linear-gradient(rgb(46, 46, 46, 0.2), rgb(38, 38, 38, 0.2)), url(bg.png);
}

div#app {
	display: flex;
}

.profile {
	flex-grow: 1;
	flex: 3;
}

.levels {
	flex-grow: 1;
	flex: 4;
}

/* .flex-grow {
	flex-grow: 1;
	flex: 1;
} */

.header {
	display: flex;
	align-items: flex-end;
	height: fit-content;
}

.avatar-icon {
	height: 192px;
	width: 192px;
	border-radius: 1em;
}

.follow-count {
	text-align: center;
	margin: 1em;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	color: #11a6eb;
	background-color: #060c13;
	border: 1px solid #14719c;
	border-radius: 1em;
	margin-bottom: 0em;
}

.follow-count p,
h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.follow-count p {
	font-size: 3em;
}

.alias {
	color: white;
	margin-left: 0.5em;
	font-size: 2em;
}

.player-id {
	color: #11a6eb;
	font-size: 0.75em;
}

.stats {
	margin-left: 3em;
}

.stats div h3 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-size: 1.25em;
}

.main-stats {
	display: flex;
	color: #11a6eb;
	font-size: 22px;
}

.general-stats {
	flex-grow: 1;
	margin-right: 0.5em;
}

.highlight {
	color: #3ee9ff;
}

.reward-stats {
	flex-grow: 1;
	margin-left: 0.5em;
}

.all-stats {
	margin-right: 5em;
}
