<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LevelheadLookup</title>
</head>
<body style="margin: 0px; padding: 0px;">
    <div id="app">
        <nav>
            <input v-model="playerData.alias.id" placeholder="enter player id">
            <button @click="updateData">Submit</button>
        </nav>

        <main style="display: flex;">
            <div>
                <img :src="playerData.alias.avatarUrl" alt="Avatar">
                <table>
                    <tr v-for="item in playerData">
                        <td>{{ item }}:</td>
                        <td style="text-align: right;">{{ item }}</td>
                    </tr>
                </table>
            </div>

            <h1></h1>

            <div>
                <table>
                    <tr v-for="level in playerData.levels">
                        <td>{{ level.title }}</td>
                        <td>{{ level.levelId }}</td>
                        <td>{{ level.createdAt }}</td>
                    </tr>
                </table>
            </div>
        </main>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/@bscotch/rumpus-ce@latest'></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js" type="module"></script>
</body>
</html>